<body>
    <div class="sidebar">
        <a routerLink="/patient">Home</a>

        <div class="dropdown">
            <a>Patient</a>
            <div class="dropdown-content">
                <a routerLink="/update-patient-profile">Edit Profile</a>
                <a routerLink="/patient-preferences">Preferences</a>
            </div>
        </div>

        <div class="dropdown">
            <a>Profile Settings</a>
            <div class="dropdown-content">
                <a routerLink="/export-medical-record">Download Medical Record</a>
            </div>
        </div>

    </div>
</body>
