<body>
    <header>
      <h1 class="main-title">Password Update</h1>
    </header>
  
    <div class="information-input">
      <p font-family="'Poppins', monospace">Insert the following information before submitting:</p>
  
      <form #newPasswordForm="ngForm" (ngSubmit)="onSubmit(newPasswordForm)" novalidate>
        <div class="input-field">
          <input name="newPassword" #newPassword="ngModel" [(ngModel)]="form.newPassword" placeholder="New Password" [disabled]="isSubmitted" required
            [class.invalid-placeholder]="newPassword.invalid && newPassword.touched" />
            <span></span>
        </div>
      
        <div class="button">
          <button type="submit" class="add-button-submit" [disabled]="newPasswordForm.invalid || isSubmitted">Submit</button>
          <button type="button" class="add-button-clear" (click)="clearForm()">Clear Input</button>
        </div>
      </form>
      
    </div>
    <br>
    <div class="message">
      <p *ngIf="message">{{ message }}</p>
    </div>
  </body>
  
