<body>
    <header>
      <h1 class="main-title">Registration Process</h1>
    </header>
  
    <div class="information-input">
      <p style="margin-left: 520px;" font-family="'Poppins', monospace">Insert the following information before submitting:</p>
  
      <form #userPatientForm="ngForm" (ngSubmit)="onSubmit(userPatientForm)" novalidate>
        <div class="input-field">
          <input name="email" #email="ngModel" [(ngModel)]="userPatient.email" placeholder="Email" [disabled]="isSubmitted" required
            [class.invalid-placeholder]="email.invalid && email.touched" />
            <span></span>
        </div>
      
        <div class="input-field">
            <input name="password" #password="ngModel" [(ngModel)]="userPatient.password" placeholder="Password" [disabled]="isSubmitted" required
              [class.invalid-placeholder]="password.invalid && password.touched" />
              <span></span>
          </div>
      
          <div class="input-field">
            <input name="phone" #phone="ngModel" [(ngModel)]="userPatient.phone" placeholder="Phone Number" [disabled]="isSubmitted" required
              [class.invalid-placeholder]="phone.invalid && phone.touched" />
              <span></span>
          </div>
        <div class="button">
          <button type="submit" class="add-button-submit" [disabled]="userPatientForm.invalid || isSubmitted">Submit</button>
          <button type="button" class="add-button-clear" (click)="clearForm()">Clear Input</button>
        </div>
      </form>
      
    </div>
    <br>
    <app-message></app-message>
  </body>
  