<body>
    <div>
        <app-side-bar-admin></app-side-bar-admin>
    </div>
    <header>
        <h1 class="main-title">Create a Room Type</h1>
    </header>

    <br>

    <div class="information-input">
        <p style="margin-left: 200px;" font-family="'Poppins', monospace">Insert the following information before
            submitting:</p>

        <form #roomtypeForm="ngForm" (ngSubmit)="onSubmit(roomtypeForm)" novalidate>
            <!-- Room Type Code -->
            <div class="input-field">
                <input name="code" #code="ngModel" [(ngModel)]="roomtype.code" placeholder="Room Type Code"
                    [disabled]="isSubmitted" required [class.invalid-placeholder]="code.invalid && code.touched" />
                <span></span>
            </div>

            <!-- Room Type Designation -->
            <div class="input-field">
                <input name="designation" #designation="ngModel" [(ngModel)]="roomtype.designation"
                    placeholder="Room Type Designation" [disabled]="isSubmitted" required
                    [class.invalid-placeholder]="designation.invalid && designation.touched" />
                <span></span>
            </div>

            <!-- Room Type Description -->
            <div class="input-field">
                <input name="description" #description="ngModel" [(ngModel)]="roomtype.description"
                    placeholder="Room Type Description" [disabled]="isSubmitted" />
                <span></span>
            </div>

            <div class="button">
                <button type="submit" class="add-button-submit" [disabled]="roomtypeForm.invalid || isSubmitted">
                    Submit
                </button>
                <button type="button" class="add-button-clear" (click)="clearForm()">
                    Clear Input
                </button>
            </div>
        </form>
    </div>

    <br>
    <app-message></app-message>
</body>