<body>
  <div>
    <app-side-bar-admin></app-side-bar-admin>
  </div>
  <header>
    <h1 class="main-title">ADMIN MENU</h1>
  </header>
    
    <footer>
      <button class="menu-button" routerLink="">Back to Menu</button>
      <!-- <button class="menu-button" routerLink="/menu">Back to Menu</button> -->
      <!-- AMBOS OS BUTÕES VÃO FAZER O MESMO, VISTE QUE O PRINCIPAL JÁ CONTEM O MEU -> VER QUAL FICA DEPOIS -->
      <!-- <button class="menu-button" (click)="goBackToMenu()">Back to Menu</button> -->
    </footer>
</body>
