<body>
  <div class="sidebar">
    <a routerLink="/admin">Home</a>
    <!-- Adicionar a cada dropdown as funcionalidades que faltarem relativamente ao ADMIN -->

    <div class="dropdown">
      <a>Patient</a>
      <div class="dropdown-content">
        <a routerLink="/create-patient-profile">Create Patient Profile</a>
        <a routerLink="/edit-patient-profile">Edit Patient Profile</a>
        <a routerLink="/list-patient-profiles">List Patient Profile</a>
      </div>
    </div>

    <div class="dropdown">
      <a>Staff</a>
      <div class="dropdown-content">
        <a routerLink="/create-staff-profile">Create Staff Profile</a>
        <a routerLink="/edit-staff-profile">Edit Staff Profile</a>
        <a routerLink="/list-staff-profiles">List Staff Profile</a>
        <a routerLink="/create-staff-user">Create Staff User</a>
      </div>
    </div>

    <div class="dropdown">
      <a>Medical Condition</a>
      <div class="dropdown-content">
        <a routerLink="/create-medical-condition">Create Medical Condition</a>
      </div>
    </div>

    <div class="dropdown">
      <a>Allergy</a>
      <div class="dropdown-content">
        <a routerLink="/create-allergy">Create Allergy</a>
        <a routerLink="/edit-allergy">Edit Allergy</a>
      </div>
    </div>

    <div class="dropdown">
      <a>Operation Request</a>
      <div class="dropdown-content">
        <a routerLink="/createOperationRequest">Create Operation Request</a>
        <a routerLink="/list-operation-request">List Operation Request</a>
        <a routerLink="/operation-request-scheduler">Operation Request Scheduler</a>
      </div>
    </div>

    <div class="dropdown">
      <a>Operation Type</a>
      <div class="dropdown-content">
        <a routerLink="/create-operation-type">Create Operation Type</a>
        <a routerLink="/list-operation-type">List Operation Type</a>
      </div>
    </div>

    <div class="dropdown">
      <a>Room Type</a>
      <div class="dropdown-content">
        <a routerLink="/create-room-type">Create Room Type</a>
      </div>
    </div>

    <div class="dropdown">
      <a>Room</a>
      <div class="dropdown-content">
        <a routerLink="/create-room">Create Room</a>
      </div>
    </div>

    <div class="dropdown">
      <a>Specialization</a>
      <div class="dropdown-content">
        <a routerLink="/create-specialization">Create Specialization</a>
        <a routerLink="/list-specialization">Search Specialization</a>
      </div>
    </div>

  </div>
</body>
