<body>
    <div class="sidebar">
        <a routerLink="/doctor">Home</a>
        <div class="dropdown">
            <a>Doctor</a>
            <div class="dropdown-content">
                <a routerLink="/create-operation-request">Create Operation Request</a>
                <a routerLink="/list-operation-request">Search Operation Request</a>
                <a routerLink="/removeOperationRequest">Remove Operation Request</a>
                <a routerLink="/hospital-simulation">Hospital Floor Simulation</a>
                <a routerLink="/remove-operation-request-patient">Remove Operation Request to Patient Medical History</a>
                <a routerLink="/add-time-slots">Add Time Slot</a>
            </div>
        </div>
    </div>
</body>
