<body>
    <div>
        <app-side-bar-doctor></app-side-bar-doctor>
    </div>
    <header>
        <h1 style="margin-left: 14%;" class="main-title">Hospital Floor Simulation</h1>
    </header>
    <div id="parent">
        <canvas class="canvas" #myCanvas id="myCanvas"></canvas>
    </div>
    <div *ngIf="overlayInfoVisible" id="roomInfoOverlay" class="overlay">
        <p><strong>Room Number:</strong> {{ roomDetails?.roomNumber }}</p>
        <p><strong>Room Type:</strong> {{ roomDetails?.type }}</p>
        <p><strong>Capacity:</strong> {{ roomDetails?.capacity }}</p>
        <p><strong>Available Equipment:</strong> {{ roomDetails?.availableEquipment }}</p>
        <p><strong>Status:</strong> {{ roomDetails?.currentStatus }}</p>
        <p><strong>Slots:</strong></p>
        <ul>
            <li *ngFor="let slot of roomDetails?.maintenanceSlots">
                Start: {{ slot.startDate }} {{ slot.startTime }}, 
                End: {{ slot.endDate }} {{ slot.endTime }}
            </li>
        </ul>
    </div>
</body>
