/* General Reset */
:host {
    display: block;
    height: 110vh;
    width: 100vw;
}

/* Remove body margin */
body {
    margin: 0;
}

/* Parent container for centering canvas and other elements */
#parent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
}

/* Title Styles */
.main-title {
    font-family: 'Poppins', monospace;
    font-size: 45px;
    font-weight: bold;
    background: linear-gradient(90deg, #0066cc, #45a0a0);
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.192);
    margin: 0 2rem; /* Horizontal margin around the title */
    margin-left: 14%; /* Aligns title with canvas */
    max-width: 50%; /* Limits the title width */
}

/* Subwindows Panel Styles */
#subwindows-panel {
    position: relative;
    z-index: 1;
    width: auto; /* Adjusts width to content */
}

/* Table Styles */
th,
td {
    overflow: hidden;
    border: 1px solid black;
}

/* Anchor Styles */
a {
    color: white;
}

/* Input Fields for View and Projection */
#view,
#projection {
    width: 18ch;
    font-size: 1.5vmin;
}

/* Input Fields for Other Controls */
#click,
#js,
#vertical,
#distance,
#zoom {
    width: 10ch;
    font-size: 1.5vmin;
}

/* Invalid Input Styles */
input:invalid {
    background-color: pink;
}

/* Canvas Styling */
canvas {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: -650px;
    margin-left: 14%;
    z-index: 0;
}
