<body>
    <div class="sidebar">
        <a routerLink="/staff">Home</a>
        <!-- Adicionar a cada dropdown as funcionalidades que faltarem relativamente ao STAFF -->
         
        <div class="dropdown">
            <a>Staff</a>
            <div class="dropdown-content">
                <a routerLink="/createStaff">Create Staff Profile</a>
                <a routerLink="/add-time-slots">Add Time Slot</a>
                <a routerLink="/editStaff">Edit Staff Profile</a>
                <a routerLink="/removeStaffs">Remove Staff Profile</a>
                <a routerLink="/list-staff-profiles">List Staff Profile</a>
                <a routerLink="/hospital-simulation">Hospital Floor Simulation</a>
            </div>
        </div>

    </div>
</body>