<body>
    <header>
        <h1 class="main-title">Reset Password</h1>
    </header>

    <div class="information-input">
        <p font-family="'Poppins', monospace">Insert the email connected to the account to change the password:</p>


        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
            <div class="input-field">
                <input name="email" #email="ngModel" [(ngModel)]="resetPass.email" placeholder="Email"
                    [disabled]="isSubmitted" required [class.invalid-placeholder]="email.invalid && email.touched" />
                <span></span>
            </div>

            <div class="button">
                <button type="submit" class="add-button-submit"
                    [disabled]="loginForm.invalid || isSubmitted">Submit</button>
                <button type="button" class="add-button-clear" (click)="clearForm()">Clear Input</button>
            </div>
        </form>
    </div>

    <app-message></app-message>
</body>